body 
	font-family 'Shadows Into Light', Arial
	
section
	width 1024px
	margin-right auto
	margin-left auto
	article
		width 100%
		height 700px
nav
	//background #fa0
	//height 100%
	position fixed
	text-align left
	padding-top 20%
	p
		color #ddd
		margin 0
		margin-right 20%
	ul
		list-style none
		li
			color #666
		li:hover
			cursor pointer

#inicio
	text-align center
	h1
		color #666
		padding-top 17%
		font-size 64px
		margin-top 0
		font-family 'Shadows Into Light', Arial
	div
		display inline-block
	.arrow-down
		color #666
		font-size 32px
		margin-top 100px
#paginasDesarrolladas
	text-align center
	
	.arrow
		
		padding-top 20px
		font-size 32px
		color #666
	.row-web

		padding-top 30px
		height 250px
		.item-web
			font-family 'Open Sans', Arial
			margin 10px
			color #666
			display inline-block
			border-bottom 2px #3CBBFF solid
			height 200px
			width 180px
			border-radius 0 0 0 0
			margin-right 10px
			opacity .7
			transition 0.5s
			img 
				width 170px
			p
				margin-top -10px
		.item-web:hover
			cursor pointer
			border-bottom 10px #fa0 solid
			transition 0.5s
			opacity 1
			
	h1 
		color #666
			
			
#hablemos
	text-align center
	
	.div-hab
		margin-top 5%
		display inline-block
		vertical-align middle
	#formulario
		text-align left
		width 400px
		color #666
		label,button
			display block
			font-size 20px
			font-family 'Shadows Into Light', Arial
		input
			font-size 20px
			font-family 'Shadows Into Light', Arial
			transition 0.3s
			background #ddd
			border-radius 0 0 10px 0px
		input:focus
			color white
			background #3CBBFF	
			transition 0.3s
		textarea
			font-size 20px
			font-family 'Shadows Into Light', Arial
			transition 0.3s
			border-radius 0 0 20px 0px
			background #ddd
		textarea:focus
			color white
			background #3CBBFF	
			transition 0.3s
		button 
			font-size 24px
			background #3CBBFF
			border-radius 5px
			color #fff
footer
	background #ddd
	width 100%
	margin-right auto
	margin-left auto
	text-align center
	p 
		margin 0
		font-size 12px

#sociales span
	color #3CBBFF	

#sociales p 
	font-size 64px
#sociales div
	display inline-block
#respuesta
	text-align left
	margin-left 560px
	margin-top 10px
	font-size 24px
.sociales-grandes
	color #3CBBFF
	font-size 128px	
	margin 0 30px 0 0
	transition 0.3s
.sociales-grandes:hover
	transition 0.3s
	color #fa0
	font-size 128px	
	cursor pointer
	margin 0 30px 0 0	